/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }

.titulo {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
  font-size: 36px;
  text-align:center;
}

.login-box {
    position: relative;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%);
    background: rgba(4, 0, 255, 0.555)/*#CACACA */;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(209, 209, 194, 0.589);
    border-radius: 10px;
  }

  .corpo{
    background-color: rgba(255, 255, 255, 0.945);
  }

  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
  }

  .login-box .user-box ::placeholder{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    font-size: 20px;
    color: #ffffff;
  }
  
  .corpo{
    background-color: white;
  }

 .button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.0px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    left:23%;
   }
   
   .button:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: black;
    color: rgba(4, 0, 255, 0.555);
    transform: scale(1.1);
   }
   
   .button:active {
    transform: translateY(-1px);
   }

   .cadastro2{
       padding-top: 30px;
       text-align:center;
       padding-bottom: 1000px;
       color: black;
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
  